---
import Header from '../components/Header';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Frontend Mentor - Dropdown Menu'>
  <main class='container'>
    <Header client:only='react' />
 
  </main>
</Layout> 
